[DEFAULT]
ConnectionType=initiator
HeartBtInt=30
FileStorePath=/tmp/liquidity.fix/store
FileLogPath=/tmp/liquidity.fix/log
Timezone=America/New_York
StartDay=Sunday
StartTime=00:00:00
EndDay=Sunday
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=FIXDICT10.xml
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
AllowUnknownMsgFields=Y
SocketTcpNoDelay=N
ScreenLogShowIncoming=Y
ScreenLogShowOutgoing=Y
ScreenLogShowEvents=Y
ScreenLogShowHeartBeats=Y
ScreenIncludeMilliseconds=Y
SocketConnectHost=fixserver.mycounterparty.com
SocketConnectPort=80
ResetOnLogon=Y
ContinueInitializationOnError=Y
username=jdoe
password=1111
account=0123456789

[SESSION]
BeginString=FIX.4.4
SenderCompID=jdoe_client1
TargetCompID=WALLST
TargetSubID=U100D1
